@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <title>Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#modifyProducts").click(modifyProducts);
            $("#modifyUsers").click(modifyUsers);
            $("#purchasesBetweenDates").click(purchasesBetweenDates);
            $("#AddUser").click(addUser);
            $("#AddProduct").click(addProduct);

            function modifyProducts() {
                $("#Products").show();
                $("#Users").hide();
                $("#Purchases").hide();
                $("#CreateUser").hide();
                $("#CreateProduct").hide();
            }
            function modifyUsers() {
                $("#Products").hide();
                $("#Users").show();
                $("#Purchases").hide();
                $("#CreateUser").hide();
                $("#CreateProduct").hide();
            }
            function purchasesBetweenDates() {
                $("#Products").hide();
                $("#Users").hide();
                $("#Purchases").show();
                $("#CreateUser").hide();
                $("#CreateProduct").hide();
            }
            function addUser() {
                $("#Products").hide();
                $("#Users").hide();
                $("#Purchases").hide();
                $("#CreateUser").show();
                $("#CreateProduct").hide();
            }
            function addProduct() {
                $("#Products").hide();
                $("#Users").hide();
                $("#Purchases").hide();
                $("#CreateUser").hide();
                $("#CreateProduct").show();
            }
        });
    </script>
</head>
<body>
    <nav>
        <ul>
            <li class="navButtons" id="modifyProducts">Modificar Productos</li>
            <li class="navButtons" id="modifyUsers">Modificar Usuario</li>
            <li class="navButtons" id="AddUser">Agregar Usuario</li>
            <li class="navButtons" id="purchasesBetweenDates">Compras entre fechas</li>
            <li class="navButtons" id="logout"><a href="/Home/Logout">Salir</a></li>
        </ul>
    </nav>
    <div>
        <p>@ViewBag.message</p>
    </div>
    <div id="Products">
        <p><b>Modificar Productos</b></p>
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>IdProducto</th>
                <th>Precio</th>
                <th>Cantidad disponible</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>IdCategoría</th>
            </tr>
            @foreach (ShopSystem.ProductStock pS in ViewBag.catalogue)
            {
                foreach (ShopSystem.Product p in pS.Products)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Id</td>
                        <td>@p.Price</td>
                        <td>@p.Quantity</td>
                        <td>@p.Description</td>
                        <td>@pS.Name</td>
                        <td>@pS.StockId</td>
                    </tr>
                }

            }
        </table>
        <form class="form-control" action="/Admin/UpdatePrice" method="get">
            id categoría<input name="stockId" type="number" />
            id producto<input name="productId" type="number" />
            nuevo precio<input name="newPrice" type="number" />
            <button class="btn-primary">Actualizar precio</button>
        </form>
        <form class="form-control" action="/Admin/UpdateDescription" method="get">
            id categoría<input name="stockId" type="number" />
            id producto<input name="productId" type="number" />
            nueva descripción<input name="newDescription" type="text" />
            <button class="btn-primary">Actualizar descripción</button>
        </form>
    </div>
    <div id="Users">
        <p><b>Modificar Usuarios</b></p>
        <table class="table">
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Id</th>
                <th>Rol</th>
                <th>IdCliente</th>
            </tr>
            @foreach(ShopSystem.User user in ViewBag.users)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Name
                    </td>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.Role
                    </td>
                    @if (user.Client != null)
                    {
                        <td>@user.Client.Id</td>
                    }
                </tr>
            }
        </table>
    </div>
    <div id="CreateUser">
        <p><b>Crear usuario</b></p>
        <form action="/Admin/CreateUser">
            usuario<input type="text" name="user" />
            contraseña<input type="password" name="password" />
            nombre<input type="text" name="name" />
            rol<input type="text" name="role" />
            <button class="btn-primary">Crear usuario</button>
        </form>
    </div>
    <div id="Purchases">
         <p><b>Obtener compras entre las fechas</b></p>
        <form action="/Admin/GetPurchasesBetweenDates" method="get">
            fecha1<input type="date" name="d1" />
            fecha2<input type="date" name="d2" />
            <button class="btn-primary">Obtener compras</button>
        </form>
        @if(Session["purchasesBetweenDates"] != null)
        {
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de cliente</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
                @foreach (ShopSystem.Purchase p in ViewBag.purchasesBetweenDates)
                {
                    <tr>
                        <td>
                            @p.Client.Name
                        </td>
                        <td>
                            @p.Client.ToString()
                        </td>
                        <td>
                            @p.Date
                        </td>
                        <td>
                            @p.ProductsQuantity
                        </td>
                        <td>
                            @p.TotalPrice
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <div id="CreateProduct">
        <form>

        </form>
    </div>
</body>
</html>
