@model ShopSystem.Purchase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Client</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#showCatalogue").click(showCatalogue);
            $("#showPurchases").click(showPurchases);
        });

        function showCatalogue() {
            $("#Last10Products").hide();
            $("#Catalogue").show();
        }
        function showPurchases() {
            $("#Catalogue").hide();
            $("#Last10Products").show();
        }
    </script>
</head>
<body>
    <header>
        <nav">
            <ul>
                <li class="navButtons" id="showCatalogue">Ver Catalogo</li>
                <li class="navButtons" id="showPurchases">Ver últimas 10 compras y artículo más comprado</li>
                <li class="navButtons" id="logout"><a href="/Home/Logout">Salir</a></li>
            </ul>
        </nav>        
    </header>
    <section>
        <section id="Catalogue">
            <div id="Products">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>IdProducto</th>
                        <th>Precio</th>
                        <th>Cantidad disponible</th>
                        <th>Categoría</th>
                        <th>IdCategoría</th>
                    </tr>
                    @foreach (ShopSystem.ProductStock pS in ViewBag.catalogue)
                    {
                        foreach (ShopSystem.Product p in pS.Products)
                        {
                            <tr>
                                <td>@p.Name</td>
                                <td>@p.Id</td>
                                <td>@p.Price</td>
                                <td>@p.Quantity</td>
                                <td>@pS.Name</td>
                                <td>@pS.StockId</td>
                            </tr>
                        }

                    }
                </table>
            <form class="form-control" action="/Client/AddToPurchase" method="get">
                id categoría<input name="stockId" type="number" />
                id producto<input name="productId" type="number" />
                cantidad<input name="quantity" type="number" />
                <button class="btn-primary">Agregar al carrito</button>
            </form>
            </div>                
            <div>
                @if (Session["idpurchase"] != null)
                {
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                        @{
                            int count = Model.ProductsToBuy.Count;
                            int totalPrice = 0;
                        }
                        @for (int i = 0; i < count; i++)
                        {
                            List<ShopSystem.Product> products = Model.ProductsToBuy;
                            int price = products[i].Price;
                            int number = Model.GetDataProductsToBuy[i].quantity;
                            totalPrice += price * count;
                            <tr>
                                <td>@products[i].Name</td>
                                <td>@price</td>
                                <td>@number</td>
                            </tr>
                        }
                        <tr>
                            <form action="/Client/Checkout" method="get">
                                <th>Precio total</th>
                                <th>@totalPrice</th>
                                <td><button class="btn-primary">Comprar</button></td>
                                @if (Session["resultMessage"] != null)
                                {
                                <td>@ViewBag.resultMessage</td>
                                }
                            </form>
                        </tr>
                    </table>
                    
                }
            </div>
        </section>
        <section id="Last10Products">
            <div>
                <hr />
                <p><b>Últimos 10 productos</b></p>
                <table>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                    </tr>
                    @{
                        int quantity = ViewBag.products.Count;
                    }
                    @for(int i =0; i < quantity; i++)
                    {
                        <tr>
                            <td>
                                @ViewBag.products[i].Name
                            </td>
                        </tr>
                    }
                
                </table>
            </div>
            <div>
                <hr />
                <p><b>Productos más comprados</b></p>
                <table>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    @foreach(ShopSystem.Product p in ViewBag.mostBought)
                    {
                        <tr>
                            <td>@p.Name</td>
                        </tr>
                    }
                </table>
            </div>
            <div>
                <hr />
                <p><b>Última compra fue realizada el</b></p>
                <p>@ViewBag.dateLastPurchase</p>
            </div>
        </section>
    </section>
</body>
</html>
